@import "../../styles/colors/main-system.less";
@import "../../styles/colors/grey-shades.less";
@import "../../styles//mixins/flex.less";
@import "../../styles//mixins/reset.less";

.mon-group-header {
    &-component {
        .reset();
        display: flex;
        position: relative;
        .mon-column {
            &-header {
                position: relative;
                min-width: 0px;
                text-align: center;
                font-size: 14px;
                font-weight: 400;
                color: @dark;
                min-height: 40px;
                padding: 10px 0 0;
                border-right: 1px solid;
                border-right-color: @white;
                flex-grow: 0;
                flex-shrink: 0;
                &.merged-column {
                    background-color: @riverstone;
                    border-radius: 8px 8px 0px 0px;
                    border-bottom: 1px solid;
                }
                &-inner {
                    .flex-center();
                    margin: 0 5px;
                }
                &-element-wrapper {
                    width: 20px;
                    .mon-menu-button:not(:hover) {
                        background-color: #ffffff !important;
                    }
                }
                &:hover, &.resizing, &.menu-open, &.column-resize-mode, &.column-drag-mode {
                    background-color: @riverstone;
                }
                .drag-handle {
                    cursor: move;
                    width: 0px;
                    display: none;
                    flex: 0 0 auto;
                }
                &:hover:not(.renaming-column):not(.column-resize-mode),
                &.resizing:not(.renaming-column):not(.column-resize-mode),
                &.menu-open:not(.renaming-column):not(.column-resize-mode),
                &.column-resize-mode:not(.renaming-column):not(.column-resize-mode),
                &.column-drag-mode:not(.renaming-column):not(.column-resize-mode) {
                    .drag-handle {
                        display: block;
                        width: 20px;
                    }
                }
            }
            &-title {
                &-wrapper {
                    width: 100%;
                    .flex-center();
                    flex-direction: row;
                }
                cursor: text;
                &:not(.renaming-column) {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}
